@model UserViewModel
@{
    ViewData[index: "Title"] = "Register";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Register</h2>
        <div class="form-group">
            <form asp-controller="Users" asp-action="Register" method="post">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                Email: <input asp-for="EmailAddress" type="text" class="form-control"/> <br/>
                <span class="text-danger" asp-validation-for="EmailAddress"></span><br/>
                Password: <input asp-for="Password" type="password" class="form-control"/><br/>
                <span class="text-danger" asp-validation-for="Password"></span><br/>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    @Html.Partial(partialViewName: "_ValidationScriptsPartial");
}